
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body h1 {
 font-weight: bold;
 font-size: 1.2em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pass-icon .fas {
    cursor: pointer;
}

.card {
    width: 400px;
    height: 440px;
    font-size: 14px;
    color: black;
    background-color: #f7f9fb;
}

.box {
    width: 400px;
    height: 560px;
    font-size: 14px;
    color: black;
    background-color: #f7f9fb;
}

.box h1 {
    text-align: center;
}

.card h1 {
    text-align: center;
}

.captcha {
    width: 100px;
    height: 44px;
    font-size: 16px;
}

.form-content {
    padding: 20px;
    margin-top: 40px;
}

.form-content .margin-top10 {
	margin-top: 10px;
}

.form-content .margin-top20 {
	margin-top: 20px;
}

.form-content .float-right {
    float: right;
}

.form-group label {
	width: 100%;
}

.form-group .check-box {
    padding-left: 10px;
}

.page-footer {
    background-color: deepskyblue;
    color: #000000;
    padding: 60px 10px 60px;
}

.passwd-chkbox {
    float: right;
}